src/config/__pycache__/settings.cpython-36.pyc
src/config/__pycache__/templates.cpython-36.pyc
.idea/hivery.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/satyabehara.xml
.idea/inspectionProfiles/Project_Default.xml
src/resources/README.md
